<div class="padding-global"><div class="container-large"><div class="padding-section-medium"><div class="max-width-large align-center"><div id="w-node-_0e4ca2c5-c41c-fe98-2864-6fe8f90bf992-07bb8fd1" class="blog-content_content"><div li-object:text="article.content" class="text-rich-text w-richtext">
{{ article.content }}
</div></div>{% if comments_enabled? %}    <div li-if="comments_enabled?">
    <div class="blog-content_form-wrapper"><div class="margin-bottom margin-large">{% if section.settings.checkbox_social_share == true %}
<div class="flex-v"><div class="margin-bottom margin-xxsmall"><div class="text-align-center text-weight-semibold">Share this post</div></div><div class="blog-content_share-list"><a fs-socialshare-element="facebook" href="#" class="footer_social-link w-inline-block"><div class="icon-embed-xsmall w-embed"><svg width="100%" height="100%" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M22 12.0611C22 6.50451 17.5229 2 12 2C6.47715 2 2 6.50451 2 12.0611C2 17.0828 5.65684 21.2452 10.4375 22V14.9694H7.89844V12.0611H10.4375V9.84452C10.4375 7.32296 11.9305 5.93012 14.2146 5.93012C15.3088 5.93012 16.4531 6.12663 16.4531 6.12663V8.60261H15.1922C13.95 8.60261 13.5625 9.37822 13.5625 10.1739V12.0611H16.3359L15.8926 14.9694H13.5625V22C18.3432 21.2452 22 17.083 22 12.0611Z" fill="CurrentColor"></path></svg></div><div>Facebook</div></a><a fs-socialshare-element="instagram" href="#" class="footer_social-link w-inline-block"><div class="icon-embed-xsmall w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M16 3H8C5.23858 3 3 5.23858 3 8V16C3 18.7614 5.23858 21 8 21H16C18.7614 21 21 18.7614 21 16V8C21 5.23858 18.7614 3 16 3ZM19.25 16C19.2445 17.7926 17.7926 19.2445 16 19.25H8C6.20735 19.2445 4.75549 17.7926 4.75 16V8C4.75549 6.20735 6.20735 4.75549 8 4.75H16C17.7926 4.75549 19.2445 6.20735 19.25 8V16ZM16.75 8.25C17.3023 8.25 17.75 7.80228 17.75 7.25C17.75 6.69772 17.3023 6.25 16.75 6.25C16.1977 6.25 15.75 6.69772 15.75 7.25C15.75 7.80228 16.1977 8.25 16.75 8.25ZM12 7.5C9.51472 7.5 7.5 9.51472 7.5 12C7.5 14.4853 9.51472 16.5 12 16.5C14.4853 16.5 16.5 14.4853 16.5 12C16.5027 10.8057 16.0294 9.65957 15.1849 8.81508C14.3404 7.97059 13.1943 7.49734 12 7.5ZM9.25 12C9.25 13.5188 10.4812 14.75 12 14.75C13.5188 14.75 14.75 13.5188 14.75 12C14.75 10.4812 13.5188 9.25 12 9.25C10.4812 9.25 9.25 10.4812 9.25 12Z" fill="CurrentColor"></path></svg></div><div>Instagram</div></a><a fs-socialshare-element="linkedin" href="#" class="footer_social-link w-inline-block"><div class="icon-embed-xsmall w-embed"><svg width="100%" height="100%" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.5 3C3.67157 3 3 3.67157 3 4.5V19.5C3 20.3284 3.67157 21 4.5 21H19.5C20.3284 21 21 20.3284 21 19.5V4.5C21 3.67157 20.3284 3 19.5 3H4.5ZM8.52076 7.00272C8.52639 7.95897 7.81061 8.54819 6.96123 8.54397C6.16107 8.53975 5.46357 7.90272 5.46779 7.00413C5.47201 6.15897 6.13998 5.47975 7.00764 5.49944C7.88795 5.51913 8.52639 6.1646 8.52076 7.00272ZM12.2797 9.76176H9.75971H9.7583V18.3216H12.4217V18.1219C12.4217 17.742 12.4214 17.362 12.4211 16.9819V16.9818V16.9816V16.9815V16.9812C12.4203 15.9674 12.4194 14.9532 12.4246 13.9397C12.426 13.6936 12.4372 13.4377 12.5005 13.2028C12.7381 12.3253 13.5271 11.7586 14.4074 11.8979C14.9727 11.9864 15.3467 12.3141 15.5042 12.8471C15.6013 13.1803 15.6449 13.5389 15.6491 13.8863C15.6605 14.9339 15.6589 15.9815 15.6573 17.0292V17.0294C15.6567 17.3992 15.6561 17.769 15.6561 18.1388V18.3202H18.328V18.1149C18.328 17.6629 18.3278 17.211 18.3275 16.7591V16.759V16.7588C18.327 15.6293 18.3264 14.5001 18.3294 13.3702C18.3308 12.8597 18.276 12.3563 18.1508 11.8627C17.9638 11.1286 17.5771 10.5211 16.9485 10.0824C16.5027 9.77019 16.0133 9.5691 15.4663 9.5466C15.404 9.54401 15.3412 9.54062 15.2781 9.53721L15.2781 9.53721L15.2781 9.53721C14.9984 9.52209 14.7141 9.50673 14.4467 9.56066C13.6817 9.71394 13.0096 10.0641 12.5019 10.6814C12.4429 10.7522 12.3852 10.8241 12.2991 10.9314L12.2991 10.9315L12.2797 10.9557V9.76176ZM5.68164 18.3244H8.33242V9.76733H5.68164V18.3244Z" fill="CurrentColor"></path></svg></div><div>LinkedIn</div></a><a fs-socialshare-element="twitter" href="#" class="footer_social-link w-inline-block"><div class="icon-embed-xsmall w-embed"><svg width="100%" height="100%" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.1761 4H19.9362L13.9061 10.7774L21 20H15.4456L11.0951 14.4066L6.11723 20H3.35544L9.80517 12.7508L3 4H8.69545L12.6279 9.11262L17.1761 4ZM16.2073 18.3754H17.7368L7.86441 5.53928H6.2232L16.2073 18.3754Z" fill="CurrentColor"></path></svg></div><div>X / Twitter</div></a></div></div>{% endif %}
</div><div class="margin-bottom margin-xxlarge"><div class="text-align-center"><div class="max-width-large align-center"><div class="margin-bottom margin-small"><h2 class="heading-style-h2">
{{ section.settings.text_comment_form_heading }}
</h2>
</div><p>
{{ section.settings.text_comment_form_description }}
</p>
</div></div></div><div><div class="w-form">{% form ''new_comment' | article', class: 'blog-content_comment-form' %}
<div class="form_field-wrapper"><div class="form_field-label">Full name</div><input placeholder="John Doe" type="text" class="form_input" name="comment[author]">
</div><div id="w-node-ff3a8159-a7b3-b8a2-9979-3e7b5875cd64-07bb8fd1" class="form_field-wrapper"><div class="form_field-label">Email</div><input placeholder="Enter your email" type="email" class="form_input" name="comment[email]">
</div><div id="w-node-_8c32ac36-1b5e-1a71-7748-3368267a49f1-07bb8fd1" class="form_field-wrapper"><div class="form_field-label">Comment</div><textarea placeholder="John Doe" class="form_input is-text-area" name="comment[body]"></textarea></div><input type="submit" data-wait="Please wait..." class="button w-button" value="Submit Comment">
{% endform %}
<div class="w-form-done"><div>Thank you! Your submission has been received!</div></div><div class="w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div></div></div></div><div class="margin-top margin-xlarge"><div class="blog-comments_component">{% if article.comments_count > 0 %}    <div li-if="article.comments_count > 0" class="blog-comments_list">
    <div class="text-size-medium text-weight-semibold">Comments:</div>{% paginate article.comments by 5 %}
    <div li-paginate:by="5" li-paginate="article.comments" by="5">{% for comment in article.comments %}    <div li-for="comment in article.comments" class="blog_comments_item">
                                    
                            <div class="blog_comment-title"><div class="flex-h is-space-between"><div li-object:text="comment.author" class="text-weight-semibold">
{{ comment.author }}
</div><div li-object:text="comment.created_at" class="text-size-small text-style-muted">
{{ comment.created_at }}
</div></div></div>
                            
                            <div class="blog-comments_content"><div li-object:text="comment.content" class="text-rich-text w-richtext">
{{ comment.content }}
</div></div>
                            
                        </div>
{% endfor %}</div>{% endpaginate %}
{% if paginate.pages > 1 %}    <nav li-if="paginate.pages > 1" class="pagination_component">
    <ul role="list" class="pagination_list w-list-unstyled">{% if paginate.previous %}    <li li-if="paginate.previous" class="pagination_item">
    <a li-object:href="paginate.previous.url" href="{{ paginate.previous.url }}" class="button is-icon-only w-inline-block"><div class="icon-embed-xxsmall w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 12 12" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><title>arrow-triangle-line-left</title><g fill="currentColor"><path d="m11,6.75h-5.75c-.414,0-.75-.336-.75-.75s.336-.75.75-.75h5.75c.414,0,.75.336.75.75s-.336.75-.75.75Z" stroke-width="0"></path><path d="m5.299,2.399c-.432-.21-.936-.159-1.317.136h0S.797,5.014.797,5.014c-.307.238-.482.598-.482.986s.176.748.482.986l3.186,2.479c.225.175.494.264.766.264.187,0,.375-.042.551-.128.432-.211.701-.642.701-1.123V3.522c0-.481-.269-.912-.701-1.123Z" stroke-width="0"></path></g></svg></div></a>    </li>
{% endif %}{% for part in paginate.parts %}    <li li-for="part in paginate.parts" class="pagination_item">
                                    
                            {% if part.is_link %}    <div li-if="part.is_link">
    <a li-object:href="part.url" href="{{ part.url }}" class="pagination_count w-inline-block"><div li-object="part.title" class="text-style-link">{{ part.title }}</div></a>    </div>
{% endif %}
                            
                            {% if part.is_link == false %}    <div li-if="part.is_link == false">
    {% if part.is_link != true %}    <div li-if="part.is_link != true">
    <div><div li-object="part.title" class="{% if part.title == paginate.current_page %}text-weight-semibold{% endif %}">{{ part.title }}</div></div>    </div>
{% endif %}    </div>
{% endif %}
                            
                        </li>
{% endfor %}{% if paginate.next %}    <li li-if="paginate.next" class="pagination_item">
    <a li-object:href="paginate.next.url" href="{{ paginate.next.url }}" class="button is-icon-only w-inline-block"><div class="icon-embed-xxsmall w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 8 5" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><path d="M4.29102 4.25V0.75L6.62435 2.5L4.29102 4.25Z" fill="currentColor" stroke="currentColor" stroke-width="1.16667" stroke-linecap="round" stroke-linejoin="round"></path><path d="M1.08301 2.5H4.58302H4.41059" stroke="currentColor" stroke-width="1.16667" stroke-linecap="round" stroke-linejoin="round"></path></svg></div></a>    </li>
{% endif %}</ul>    </nav>
{% endif %}    </div>
{% endif %}{% if article.comments_count < 1 %}    <div li-if="article.comments_count < 1" class="blog-comments_empty">
    <div>No comments yet.</div>    </div>
{% endif %}</div></div>    </div>
{% endif %}</div></div></div></div> {% schema %} {"tag":"section","name":"Blog Content","class":"section_blog-content","settings":[{"id":"checkbox_social_share","type":"checkbox","label":"Social Share","default":true},{"id":"text_comment_form_heading","type":"text","label":"Comment Form Heading","default":"Leave a comment"},{"id":"text_comment_form_description","type":"text","label":"Comment Form Description","default":"Lorem ipsum dolor sit amet, consectetur adipiscing elit."}],"presets":[{"name":"Blog Content","category":"Liquify"}]} {% endschema %}